@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans:wght@200&display=swap');

@import url('https://coolors.co/palette/f1c8be-e9b19f-e9afa1-faedea-fdfdfd1'); 
.logo {
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin: auto;
      width: 375px;
    height: 300px;
}


.product{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.candle{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.facial{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.bottles{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.jade{
    width: 300px;
    height: 300px;
  border: 5px solid #faedea;
}

.lotion{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.oil{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
    
}


.brush{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #faedea;
   
}


.book{
    background-color: #e9afa1;
    color: #faedea;
    text-decoration: none;
    font-size: 30px;
   padding: 10px 10px;
   margin-top: 50px;
   border-radius: 5px;
}


.button-box{
    font-family: 'Playpen Sans';
    color: #faedea;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
}

.book:hover{
    color: black;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: 'Playpen Sans';
     font-size: 30px;
}

.brows{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: 'Playpen Sans';
    text-align: center;
    font-size: 30px;
}

.wax{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: 'Playpen Sans';
    text-align: center;
font-size: 30px;
}
.mission{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Playpen Sans';
   color: white;
}

.feedback{
    font-family: 'Agbalumo', Georgia;
    color: white;
    font-size: 30px;
}
.concerns{
    font-family: 'Agbalumo', Georgia;
    color: white;
    text-align: center;
}

.help{
    font-family: 'Playpen Sans';
    color: white;
}

nav{
    justify-content: space-around;
    font-family: 'Playpen Sans';
    color: #e9b19f;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}


nav a:hover{
    background-color: #f1c8be;
    color: black;
}

.ae{
    color: #e9b19f;
    font-size: 50px;
    text-align: center;
    font-family: 'Agbalumo';
}
.salts{
    width: 300px;
    height: 300px;
    margin-right: auto;
    border: 5px solid #faedea;

}

nav{
    font-size: 200%;
}

.leaf{
    width: 100%;
    
    
}
header{
    background-color: #faedea;
}
main{
    padding-top: 7%;
    text-align: center;
    background-color: #f1c8be;
    padding-bottom: 7%;
}


body{
    background-color: #f1c8be
}

nav a{ 
    margin-left: auto;
    text-align: center;
    color: #e9afa1;
    text-decoration: none; 

    
}

.faq{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Playpen Sans';
   color: white;
    padding-bottom: 25px;

}

footer{
    background-color: #faedea;
    text-decoration: none;
    text-align: center;
    font-family: 'Agbalumo';
    color: #e9b19f;

}

footer .social img{
    padding-top: 15px;
}

footer a{
    margin: 0 15px;
    color: #e9b19f ;
    text-decoration: none;
}

footer a:hover{
    color: black ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    display: block;
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  