@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans:wght@200&display=swap');

@import url('https://coolors.co/palette/f1c8be-e9b19f-e9afa1-faedea-fdfdfd1'); 
.logo {
    display: block;
    margin: auto;
      width: 375px;
    height: 300px;
}


.lotion{
    width: 200px;
    height: 200px;
}

.oil{
    width: 300px;
    height: 300px;
    border: 5px solid #faedae;
    
}


.brush{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #faedae;
   
}

.main{
    display: grid;
    grid-template-columns:repeat(6,100px);

}

.book{
    background-color: #e9afa1;
    color: #faedea;
    text-decoration: none;
    font-size: 30px;
   padding: 10px 10px;
   margin-top: 50px;
   border-radius: 5px;
}


.button-box{
    font-family: 'Playpen Sans';
    color: #faedea;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

.book:hover{
    color: black;

}

.menu{
    color:white;
    font-family: 'Playpen Sans';
    text-align: center;
     font-size: 20px;
}

.brows{
    color:white;
    font-family: 'Playpen Sans';
    text-align: center;
    font-size: 20px;
}

.wax{
    color:white;
    font-family: 'Playpen Sans';
    text-align: center;
font-size: 20px;
}
.mission{
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Playpen Sans';
   color: white;
   grid-column: 3/5;
   grid-row: 4/7;
}

nav{
    justify-content: space-around;
    font-family: 'Playpen Sans';
    color: #e9b19f;
    text-align: center;
}


nav a:hover{
    background-color: #f1c8be;
    color: #e9afa1;
}

.ae{
    color: #e9b19f;
    font-size: 50px;
    text-align: center;
    font-family: 'Agbalumo';
}
.salts{
    width: 300px;
    height: 300px;
    margin-right: auto;
    border: 5px solid #faedae;

}

nav{
    font-size: 200%;
}

.leaf{
    width: 100%;
    
    
}
header{
    background-color: #faedea;
}
main{
    padding-top: 7%;
    text-align: center;
    background-color: #f1c8be;
    padding-bottom: 7%;
}


body{
    background-color: #f1c8be
}

nav a{ 
    margin-left: auto;
    text-align: center;
    color: black;
    text-decoration: none; 
    padding:35px;
}

footer{
    background-color: #faedea;
    text-decoration: none;
    text-align: center;
    font-family: 'Agbalumo';
    color: #e9b19f;

}

footer .social img{
    padding-top: 15px;
}

footer a{
    margin: 0 15px;
    color: #e9b19f ;
    text-decoration: none;
}

footer a:hover{
    color: black ;
}
