@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans:wght@200&display=swap');

@import url('https://coolors.co/palette/f1c8be-e9b19f-e9afa1-faedea-fdfdfd1'); 
.logo {
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin: auto;
      width: 375px;
    height: 300px;
}


.product{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.candle{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.facial{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.bottles{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.jade{
    width: 300px;
    height: 300px;
  border: 5px solid #faedea;
}

.lotion{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
}

.oil{
    width: 300px;
    height: 300px;
    border: 5px solid #faedea;
    
}


.brush{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #faedea;
   
}


.book{
    background-color: #e9afa1;
    color: #faedea;
    text-decoration: none;
    font-size: 30px;
   padding: 10px 10px;
   margin-top: 50px;
   border-radius: 5px;
}


.button-box{
    font-family: 'Playpen Sans';
    color: #faedea;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
}

.book:hover{
    color: black;
}

.serv{
    font-family: 'Agbalumo';
    font-size: 100px;
    text-align: center;
    color: white;}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#faedea;
    font-family: 'Playpen Sans';
     font-size: 50px;
}

.brows{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#faedea;
    font-family: 'Playpen Sans';
    text-align: center;
    font-size: 50px;
}

.wax{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#faedea;
    font-family: 'Playpen Sans';
    text-align: center;
font-size: 50px;
}
.mission{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Playpen Sans';
   color: white;
}

.feedback{
    font-family: 'Agbalumo', Georgia;
    color: white;
    font-size: 30px;
}
.concerns{
    font-family: 'Agbalumo', Georgia;
    color: white;
    text-align: center;
}

.help{
    font-family: 'Playpen Sans';
    color: white;
}

nav{
   overflow: hidden;   
}

  
  .menu, .brows, .wax {
    border: 2px solid #faedea;
    padding: 20px;
   margin:0 auto;
   text-align: center;
   width: 75%;
  }
  
  .flip-card {
    margin-top: 20px;
  }
nav a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: #f1c8be;
    color: #faedea;
}

.ae{
    color: #e9b19f;
    font-size: 50px;
    text-align: center;
    font-family: 'Agbalumo';
}
.salts{
    width: 300px;
    height: 300px;
    margin-right: auto;
    border: 5px solid #faedea;

}

nav{
    font-size: 200%;
}

.leaf{
    width: 100%;
    
    
}
header{
    background-color: #faedea;
}
main{
    padding-top: 7%;
    text-align: center;
    background-color: #f1c8be;
    padding-bottom: 7%;
}


body{
    background-color: #f1c8be
}

nav a{ 
    margin-left: auto;
    text-align: center;
    color: #e9afa1;
    text-decoration: none; 

    
}

.faq{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Playpen Sans';
   color: white;
    padding-bottom: 25px;

}

footer{
    background-color: #faedea;
    text-decoration: none;
    text-align: center;
    font-family: 'Agbalumo';
    color: #e9b19f;
    font-size: 30px;
    

}

footer .social img{
    padding-top: 15px;
}

footer a{
    margin: 0 15px;
    color: #e9b19f ;
    text-decoration: none;
}

footer a:hover{
    color: black ;
}


.flip-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    display: block;
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: #faedea;
  }
  
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
  }

  form ul li input,
form ul li textarea {
  width: 75%; 
  padding: 8px; 
  box-sizing: border-box; 
}

form ul li textarea {
  height: 150px;
}

form ul li.button {
  margin-top: 10px; 
}

button {
  width: 75%; 
  padding: 10px; 
  box-sizing: border-box; 
}

  